@import url("https://fonts.googleapis.com/css?family=Lora|Roboto+Slab&display=swap");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/disci.css");
@import url("components/card.css");
@import url("components/list-inline.css");


body{
  font-family: 'Lora', serif;
  font-size: 18px;
}

h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #3E5C76;
}

a {
  text-decoration: none;
}

h3  {
  color: #BBC7A4;
}

h1 {
  color: #3E5C76;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
