.btn-blue {
  background-color: #3E5C76;
  color: #BBC7A4;
  padding: 10px 10px;
  border-radius: 4px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
  background-color: #BBC7A4;
  color: #3E5C76;
}

.btn-disci {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.btn-disci:hover {
  opacity: 0.01%;
}
